<% provide(:title, @user.name) %>
<div class="jumbotron container-fluid center">

	<%= gravatar_for @user, 100 %>

	<h1>
		<%= @user.name %>
	</h1>
	<h3>
		<%= @user.email %>
	</h3>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div id="calendar"></div>
	</div>
</div>

<hr />

<div class="row">
	<%= render @user.events %>
</div>

<script type="text/javascript">

var attendedEvents = <%= raw @user.events.to_json %>;

	$('#calendar').fullCalendar({
		header: {
	        left: "prev,next,today",
	        center: "title",
	        right: "month,agendaWeek,agendaDay"
    	},
    	events: attendedEvents
	});
</script>
