<% provide(:title, @user.name) %>
<div class="jumbotron container-fluid center">

		<% if (current_user.uid.nil?) %>
			<%= current_user.picture.nil? ? 
	            image_tag(current_user.picture, class: "img-circle", size: '100x100') :
	            image_tag('default_profile_picture/default_profile_picture.jpg', class: "img-circle", size: '100x100') %>
	    <% else %>
	    	<%= !current_user.picture.nil? ? 
	            image_tag("http://graph.facebook.com/v2.6/#{current_user.uid}/picture", class: "img-circle", size: "100x100") :
	            image_tag(current_user.picture, class: "img-circle", size: '100x100') %>
	    <% end %>

		<h1>
			<%= @user.name %>
		</h1>
		<h3>
			<%= @user.email %>
		</h3>
</div>

<div class="container">
	<div class="row">	
		<% @user.events.each do |e| %>
			<%= e.name %>
		<% end %>
	</div>
</div>


