<div class="col-md-4">
	<li id="event-<%= event.id %>">
	  <span><%= event.sport.name %></span>
	  <span class="user"><%= link_to event.user.name, event.user %></span>
	  <span class="description"><%= event.description %></span>
	  <span class="timestamp">
	    Posted <%= time_ago_in_words(event.created_at) %> ago.
	  </span>
	</li>
	<%= link_to image_tag("basketball_logo.png", class: "thumbnail img-responsive", alt: "Basketball logo"), '#' %>
</div>