<div class="col-md-4">
	<div id="event-<%= event.id %>">
	  <span class="sport">Sport type: <%= event.sport.name %></span><br>
	  <span class="user">Game owner: <%= link_to event.user.name, event.user %></span><br>
	  <span class="description">Additional info: <%= event.description %></span><br>
	  <span class="timestamp">
	    Posted <%= time_ago_in_words(event.created_at) %> ago.
	  </span>
	</div>
	<%= link_to image_tag("basketball_logo.png", class: "thumbnail img-responsive", alt: "Basketball logo"), '#' %>
</div>