<div class="col-md-4 center">
	<div class="thumbnail">
		<div id="event-<%= event.id %>">
		  <%= link_to image_tag(event.sport.picture, alt: "Sport picture"), '#' %>
		  <br>
		  <span class="game"><%= event.name %></span>
		  <br>
		  <span class="description">Additional info: <%= event.description %></span>
		  <br>
		  <span class="place"><%= link_to event.place.name, event.place %></span>
		  <% unless event.place.picture.nil? %>
		  <%= link_to image_tag(event.place.picture, class: "thumbnail img-responsive", alt: "Place picture"), event %>
		  <% end %>
		  <div class="progress">
		  	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= attendees_ratio(event) %>" aria-valuemin="0" aria-valuemax="<%= event.number_of_attendees_needed %>" style="width: <%= attendees_ratio(event) %>%;">
		    	<%= @userEventCount %> / <%= event.number_of_attendees_needed %>
		  	</div>
		  </div>
		  
		  <%= link_to "Wanna play!", event, class: "btn btn-md btn-primary" %>

		  <br>
		  <br>
		  <%= image_tag(event.user.picture.url, class: "img-circle", size: '25x25' ) if event.user.picture? %>
		  <%= link_to event.user.name, event.user %>
		  <br>
		  <span class="timestamp">
		    Posted <%= time_ago_in_words(event.created_at) %> ago
		  </span>
		</div>
	</div>
	<br>
</div>