<% provide(:title, 'Create event') %>
<h1>Create event</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@event, url: events_new_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.collection_select(:sport_id, Sport.all, :id, :name) %>

      <%= f.collection_select(:place_id, Place.all, :id, :name) %>

      <%= f.text_field :name, :id => 'gmaps-input-address', :placeholder => 'Start typing a place...' %>
            <br/>
      Latitude: <span id='gmaps-output-latitude'></span>
      <br/>
      Longitude: <span id='gmaps-output-longitude'></span>
      <br/>
      <%= f.label :number_of_players %>
      <%= f.text_field :number_of_attendees_needed, class: 'form-control' %>

      <%= f.submit "Create my event", class: "btn btn-primary" %>
    <% end %>

    
  </div>



<form>
      <input id="geocomplete" type="text" placeholder="Type in an address" value="Empire State Bldg" />
      <input id="find" type="button" value="find" />

      <label>Latitude</label>
        <input name="lat" type="text" value="">

        <label>Longitude</label>
        <input name="lng" type="text" value="">

        <label>ID</label>
        <input name="id" type="text" value="">

        </form>

        <div class="map_canvas"></div>
</div>


<script>
      $(function(){
        $("#geocomplete").geocomplete({
          map: ".map_canvas",
          details: "form",
          types: ["geocode", "establishment"],
        });

        $("#find").click(function(){
          $("#geocomplete").trigger("geocode");
        });
      });
    </script>