<% provide(:title, 'Create event') %>
<h1>Create event</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@event, url: events_new_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.collection_select(:sport_id, Sport.all, :id, :name) %>

      <%= f.collection_select(:place_id, Place.all, :id, :name) %>

      <%= f.label :number_of_players %>
      <%= f.text_field :number_of_attendees_needed, class: 'form-control' %>

      <%= f.submit "Create my event", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>