<% provide(:title, @event.name) %>
<div class="jumbotron jumbotron-fluid center">
	<% unless @event.sport.picture.nil? %>
		<%= link_to image_tag(@event.sport.picture, class: "thumbnail img-responsive", alt: "Sport picture"), '#' %>
	<% end %>
	<span class="game"><%= @event.name %></span><br>
</div>

	<div class="row">
		<div class="col-md-6">
			<div class="progress">
			  	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= attendees_ratio(@event) %>" aria-valuemin="0" aria-valuemax="<%= @event.number_of_attendees_needed %>" style="width: <%= attendees_ratio(@event) %>%;">
			    	<%= @userEventCount %> / <%= @event.number_of_attendees_needed %>
			  	</div>
			</div>

		  	<ol>
				<% @event.attendees.each do |attendee| %>
			   			<%= gravatar_for attendee, 30 %>
			   			<%= link_to attendee.name, attendee, :id => "" %>
			   		<br>
				<% end %>
		  	</ol>
			<div class="text-center"><%= render 'attend_form' %></div>
		</div>


		<div class="col-md-6">
			<div id="event-<%= @event.id %>">

			  <span class="timestamp">
			    Posted <%= time_ago_in_words(@event.created_at) %> ago by <%= link_to @event.user.name, @event.user %>
			  </span><br>
			  <span class="place"><%= link_to @event.place.name, @event.place %></span><br>
			  <% unless @event.place.picture.nil? %>
			  	<%= link_to image_tag(@event.place.picture, class: "thumbnail img-responsive", alt: "Place picture"), '#' %>
			  <% end %>
			  <span class="description">Additional info: <%= @event.description %></span><br>
			  <%= link_to "Edit event", edit_event_path(@event) %>
			</div>
		</div>

	</div>

	<hr>


		
	<div class="row">
		<div class="col-md-12">
		  <div id="map" style='height: 400px;'></div>
		</div>
	</div>

<script type="text/javascript">

	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {
							draggable: true,
							minZoom: 15
	 						//maxZoom
						}, internal: {
							id: 'map'
						}
					}, 
		function(){
		  markers = handler.addMarkers([
		  	{
		  		"lat": <%= @event.place.lat %>,
		  		"lng": <%= @event.place.lng %>,
		  		"picture": {
	          		"width":  32,
	          		"height": 32
		  		},
		  		"infowindow": " <%= @event.place.name %> "
		  	}
		  ]);

		  handler.map.centerOn(markers[0]);
		  handler.bounds.extendWith(markers);
		  handler.getMap().setZoom(18);
		}
	);

</script>