<% provide(:title, 'Choose a place') %>
<h1>Create event</h1>

<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
  aria-valuemin="0" aria-valuemax="100" style="width:0%">
    <span class="sr-only">70% Complete</span>
  </div>
</div>

<h2>Choose a place</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@place, url: places_new_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, :id => 'geocomplete', :type => 'text', :placeholder => 'Start typing a place...', :maxLength => 45, :size => 45 %>

      <%= f.text_field :lat, class: 'form-control', :datageo => 'lat', :type => 'hidden' %>
      <%= f.text_field :lng, class: 'form-control', :datageo => 'lng', :type => 'hidden' %>

      <%= f.submit "Next", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>

      $(function(){
        $("#geocomplete").geocomplete({
          details: "form",
          types: ["geocode", "establishment"],
          details: "form",
          detailsAttribute: "datageo"
        });

        $("#find").click(function(){
          $("#geocomplete").trigger("geocode");
        });
      });
    </script>