<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Sporticted</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//maps.google.com/maps/api/js?key=AIzaSyCWLihxf_olIKUTmvCMH6WzSCMNEoAMKY0"></script>
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/header' %>
  	<div class="container">
      <div id="user-widget">
        <% if current_user %>
          Welcome <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        <% end %>
      </div>
  		<% flash.each do |message_type, message| %>
        	<div class="alert alert-<%= message_type %>"><%= message %></div>
      	<% end %>
  	
    	<%= yield %>
    	<%= render 'layouts/footer' %>
    </div>
  </body>
</html>
